.swal2-title, .swal2-html-container{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.btn-danger{
    display:inline-block;
    padding: 1em 2em;
    margin: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    font-size: 1rem;
    color:#FFFFFF;
    background-color:#9c1e33;
    border-color: #9c1e33;
    text-align:center;
    transition: all 0.2s;
}

.btn-success{
    display:inline-block;
    padding: 1em 2em;
    margin: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    font-size: 1rem;
    color:#FFFFFF;
    background-color:#4CAF50;
    border-color: #4CAF50;
    text-align:center;
    transition: all 0.2s;
}

.btn-danger:hover{
    background-color: gray;
    border-color: gray;
}

.btn-success:hover{
    background-color: gray;
    border-color: gray;
}

.nsns{
    justify-content: space-between;
}